MONGO_URI=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
MAIL_ID=
MAIL_PASSWORD=
FRONTEND_URL=
NODE_ENV=
JWT_EMAIL_VERIFY_SECRET=
JWT_EMAIL_VERIFY_EXPIRY=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
PORT=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_VIEW_PRESIGNED_EXPIRY=
AWS_EVENTBRIDGE_SECRET=
UPLOAD_URL_EXPIRY=
OTP_EXPIRY_TIME=